#mapid {
  height: 450px;
  width: 750px;
  height: 400px;
  margin: 25px 20px 10px 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.56);
}
body {
  width: 100%;
}
h1 {
  text-align: center;
}
form {
  margin-top: 35px;
  text-align: center;
}
button {
  margin: 20px;
}
header{
  color: Black;
  font-family:"Black Ops One";
  font-size: 25px;
  background: #adf7b1;
  width: 1280px;
  height: 120px;
}




img{
  height: 100px;
  margin: 10px 10px 10px 10px;
  
}

.container{
  display:flex;
}

.textcol{
  padding-left: 20px;
  font-family: 'Crimson Text','Helvetica';
  font-size: 35px;
}

#img2{
     height: 400px;
     margin: 25px 20px 10px 30px;
     box-shadow:0 10px 20px     rgba(0,0,0,0.56);
     
}

main{
  background:white;
  height: 600px;
}



.container2{
  display:flex;

}

footer{
  background:#785a77;
  height:100px;
  width:1520px;
}

body{
  margin:0;
}

button{
  font-family: "Cambria", "monospace";
  margin-left: 30px;
  color:black;
  box-shadow:0 10px 20px     rgba(0,0,0,0.36);
}

button:hover{
  transform:scale(1.1);
  color: red;
  
}


h4{
  font-family:"Comfortaa";
  font-size: 20px;
}

.search{
  position: relative;
  line-height:35px;
  font-size:20px;
  font-family: "Comfortaa", "monospace";
}

.map-resize{
   width: 600px;
  height: 100px;
 
}
#main1{
  position:relative;
  bottom:165px;
  left:160px;
}

#epic{
  width: 1510px;
  height: 110%;
 
    position:relative;
  bottom:10px;
  right:10px;
    
}

#img2{
  position:relative;
  top:20px;
  left:40px;
}
#print{
   position:relative;
  top:30px;
  left:50px;
}

#boxxy{
   position:relative;
  top:20px;
  left:60px;
}

.textcol2{
  
  background: linear-gradient(90deg, #CCFFFF, #FFCCCC);
  padding: 2px 20px 20px 20px;
  margin-top: 22px;
  margin-bottom: 15px;
  margin-left: 25px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.36);
  height: 450px;
  width: 300px;
  border-radius: 20px;
}

#btn{
  position:relative;
  left: 700px;
  top: 20px;
  right:500px;
}
#footsy
{
  position:relative;
  bottom: 10px;
  right:11px;
  width:1520px;
}


#btn1{
  position: relative;
  left: 275px;
  top: 10px;
  
}
