.title{
    /*     padding: 3%; */
        margin-left: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Black Ops One', cursive;
        /* font-size:5vw; */
        color: black;
    }