{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SARAID</title>
    <link rel="stylesheet" type= "text/css" href="{% static 'gis_map/styles.css' %}" />
  </head>
  <body>
    {% comment %} {{ map|safe }} {% endcomment %}
    <form action="" method= "POST">
        {% csrf_token %}
        {% comment %} {{ form.Latitude.label }}
        {{ form.Latitude}}

        {{ form.search_choice.label}}
        {{ form.search_choice}} {% endcomment %}

        {% for field in form %}
            {{ field.label }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="Submit">
    </form>
  </body>
</html>