.header {
  background-image: url("https://i.imgur.com/CQIM6Mp.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.footer {
  background-image: url("https://i.imgur.com/Bo6l90N.png");
  background-repeat: no-repeat;
  align-content: center;
  background-size: cover;
  height: auto;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: bold;
}
.title{
  padding: 3%;
  margin-left: 10%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Black Ops One', cursive;
  font-size:3vw;
}
.love {
  padding: 3%;
}
#mapid { 
  height: 450px;
  width: auto;
}
.container_custom {
  margin: 1%;
}
.main-division{
  margin-top: 2%;
  margin-bottom: 2%;
}
.input-box{
  padding: 2%;
  border-radius: 10px;
  background: linear-gradient(90deg, #ccffff, #ffcccc);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.36);
}
form {
  color: black;
}
.map-output {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.56);
  border: 2px solid rgba(180, 180, 221, 0.39);
  border-radius: 5px;
}
.but{
  align-items: center;
}
button:hover {
  transform: scale(1.1);
  color: red;
}